<% @page_title = "Delete Kid: #{@kid.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="kid delete">
  <h2>Delete Kid</h2>
  
  <%= form_for(:kid, :url => {:action => 'destroy', :id => @kid.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this kid?</p>
  
    <p class="reference-name"><%= @kid.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Kid") %>
    </div>
    
  <% end %>
</div>
