<% @page_title = "Care" %>


<body>
 <div id="page">
  

   <div class="spreadsheet">
      
      <div class="spread-head">
         <!-- spreadsheet title -->
         <h1>Spreadsheet</h1>
         
         <!-- tabs, if needed -->
         <div class="tab" data-id="link4">Calendar</div>
         <div class="tab" data-id="link3">Fridays</div>
         <div class="tab" data-id="link2">Kids</div>
         <div class="tab active" data-id="link1">Members</div>
      </div>
      
      <table class="link-data" id="link1">
        
      </table>
      <table class="link-data" id="link2">
         
      </table>
      <table class="link-data" id="link3">
         
      </table>
      <table class="link-data" id="link4">
         
      </table>
      <div class="spread-footer">
         <!-- tab, add this if table is editable -->
         <div class="tab edit-spreadsheet">Edit</div>
         <!-- keep buttons if edit is enabled -->
         <div class="btn green save">Save</div>
         <div class="btn red cancel">Cancel</div>
      </div>
   </div>
 </div>
</body>
</html>
