<% @events.each_with_index do |event, i| %>
  <h4><%= i+1 %> - <%= link_to event.title, event_path(event) %></h4>
  <%= link_to "Approve", approve_event_path(event), class: 'btn btn-success' unless event.approved %>
  <br>
<% end %>
<div class="approved">
  
</div>
<div class="not-approved">
  
</div>