<% @page_title = "Edit Kid: #{@kid.name}" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>

<div>
  <h2>Update Kid</h2>

  <%= form_for(:kid, :url => {:action => 'update', :id => @kid.id}, :method => 'PUT') do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div>
      <%= submit_tag("Update Kid") %>
    </div>
    
  <% end %>
</div>
