<% @page_title = "Create Kid" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="kid new">
  <h2>Create Kid</h2>

  <%= form_for(:kid, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Kid") %>
    </div>
    
  <% end %>
</div>
