.tag-delivered{
	background-color:#66CC33;
	border-radius:5px;
	padding:5px;
	margin:5px;
	width:100px;
}

.tag-not-delivered{
	background-color:#FF9900;
	border-radius:5px;
	padding:5px;
	margin:5px;
	width:100px;
}