<% @page_title = "Delete Member: #{@member.name}" %>

<%= link_to("<< Back to List", {:action => 'index'}) %>

<div>
  <h2>Delete Member</h2>
  
  <%= form_for(:member, :url => {:action => 'destroy', :id => @member.id}, :method => 'DELETE') do |f| -%>

    <p>Are you sure you want to permanently delete <%= @member.name %>?</p>
  
    <div>
      <%= submit_tag("Delete Member") %>
    </div>
    
  <% end %>
</div>
